/*=================================================
 * General
 *=================================================*/

:root {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 12px;
}

body {
  margin: 0;
}

#fp-nav span {
  background-color: #78fdaa !important;
}

.section {
  padding: 12rem 0;
  background-color: rgb(36, 184, 208) !important;
}

.section:nth-child(even) {
  background-color: rgb(36, 171, 193) !important;
}

@media (max-width: 1100px) {
  :root {
    font-size: 11px;
  }
}

h4 {
  margin: 1rem 0;
  margin-right: 1.5rem;
}

button {
  outline: none !important;
}

/*=================================================
 * Objects
 *=================================================*/

.o-wrapper {
  display: flex;
  flex-direction: column;
  /* justify-content: center;*/
  align-items: center;
  width: 85rem;
  margin: 0 auto;
}

@media (max-width: 1100px) {
  .o-wrapper {
    width: 64rem;
  }
}

.o-button {
  font-size: 1.1rem;
  font-weight: 600;

  margin-top: 3rem;
  padding: 0.8rem 6rem;

  border: none;
  cursor: pointer;

  color: #238fb7;
  background-color: #45f487;
  transition: 0.2s ease;
}

.o-play-btn {
  display: inline-block;
  cursor: pointer;

  padding: 0.8rem 3rem;
  margin: 0 0.85rem;

  border-width: 0px;
  border-radius: 1.3rem;

  transform: translateY(0px);
  background: #2390b7;

  transition: 0.2s ease;
}

.o-play-btn:hover {
  transform: translateY(-2px);
  background: #1681a7;
}

.o-play-btn_img {
  margin-top: 0.3rem;
  width: 1.3rem;
}

.o-input {
  font-size: 2rem;
  padding: 1rem 3rem;
  border-width: 0;
  border-radius: 2px;
}

.o-title {
  margin-top: 0;
  margin-bottom: 1.8rem;
}

.o-desc {
}

/*=================================================
 * Header
 *=================================================*/

.c-header {
  position: fixed;
  z-index: 10;
  top: 1.5rem;
  left: 3rem;
}

.c-header_title {
  font-size: 1.2rem;
  color: #c6ffdc;
}

/*=================================================
 * Section 1
 *=================================================*/

.c-welcome {
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-welcome_logo {
  height: 25rem;
}

.c-welcome_separator {
  height: 8em;
  margin: 0 5rem;
  border-left: solid 1px #238fb7;
}

.c-welcome_info-box {
  text-align: left;
  width: 30rem;
}

.c-welcome_title,
.c-welcome_message,
.c-welcome_link,
.c-welcome_btn {
  display: block;
}

.c-welcome_message {
  font-size: 1.65rem;
}

.c-welcome_link {
  margin-top: 0.7rem;
}

.c-welcome_link,
.c-welcome_link:visited {
  color: #06fff5;
}

.c-welcome_btn:hover {
  background-color: #38dc76;
}

.c-picture_mecanism {
  width: 500px;
}

/*=================================================
 * Section 2
 *=================================================*/

/*=================================================
 * Section 3
 *=================================================*/

.c-videos_videos {
  display: flex;
}

/*=================================================
 * Section 6-7-8
 *=================================================*/

.c-tests_wrapper {
  width: 100%;
}

.c-tests_header,
.c-tests_body {
  display: block;
  width: 100%;
}

.c-tests_header:after,
.c-tests_body:after,
.c-tests_item:after {
  display: table;
  content: "";
  clear: both;
}

.c-tests_item {
  width: calc(100% / 3);
  float: left;
  padding: 0.4em 0;
}

.c-tests_play,
.c-tests_choice {
  float: left;
}

.c-tests_play {
  width: 36%;
}

.c-tests_choice {
  width: 20%;
  font-size: 1.5rem;
  margin-top: 0.8rem;
}

.c-tests_play_btn {
  display: flex;
  align-items: center;

  font-weight: 600;
  padding: 0.6rem 3rem;

  color: white;
  border-width: 0;
  border-radius: 12px;
  background-color: rgb(35, 144, 183);
}

/* Items */

.c-tests_play_player {
  display: none;
}

.c-tests_play_icon,
.c-tests_play_text {
  width: 35px;
  margin-right: 13px;
}

/*=================================================
 * Utilities
 *=================================================*/

.u-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.u-flex-v-center {
  display: flex;
  align-items: center;
}

.u-flex {
  display: flex;
}

.-hidden {
  display: none !important;
}
