<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>Test Auditif</title>
  <!-- Styles -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="css/lib/fullpage.css" />
  <link rel="stylesheet" href="css/style.css" />
  <!-- Libraries -->
  <script src="lib/jquery.js"></script>
  <script src="lib/vue.js"></script>
  <!-- Scripts -->
  <script src="js/app.js"></script>
</head>

<body>
  <div id="app">

    <header class="c-header">
      <h5 class="c-header_title">{{ title | capitalize }}</h5>
    </header>

    <!-- Full Page -->
    <div id="fullpage" style="text-align: center; font-size: 2rem; color:white">

      <!-- Section 1-->
      <div class="section">
        <div class="o-wrapper">
          <div class="c-welcome">
            <img class="c-welcome_logo" src="img/logo.svg" />
            <div class="c-welcome_separator"></div>
            <div class="c-welcome_info-box">
              <h2 class="c-welcome_title">{{ section1.title }}</h2>
              <p class="c-welcome_message">
                {{ section1.message }}
                <br/>
                <a class="c-welcome_link" :href="section1.href" target="_blank">{{ section1.linkText }}</a>
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Section 2 -->
      <div class="section">
        <div class="o-wrapper">
          <h2>{{ section2.title }}</h2>
          <p>{{ section2.desc1 }}</p>
          <p>{{ section2.desc2 }}</p>
          <p>{{ section2.desc3 }}</p>
          <p>{{ section2.desc4 }}</p>
        </div>
      </div>

      <!-- Section 3 -->
      <div class="section">
        <div class="o-wrapper">
          <h2>{{ section3.title }}</h2>
          <p>{{ section3.desc }}</p>
          <img class="c-picture_mecanism" src="img/mecanisme.jpg" />
        </div>
      </div>

      <!-- Section 4 -->
      <div class="section">
        <div class="o-wrapper">
          <h2 class="c-videos_title">{{ section4.title }}</h2>
          <p class="c-videos_desc">{{ section4.desc }}</p>
          <div class="c-videos_videos">
            <p class="c-welcome_message">{{ section4.titleAF }}</p>
            <video id="video1" class="c-videos_video" width="320" height="240" preload controls data-setup="{}">
              <source src="piano_avec_friction" type="video/mov" />
            </video>
            <p class="c-welcome_message">{{ section4.titleSF }}</p>
            <video id="video2" class="c-videos_video" width="320" height="240" preload controls data-setup="{}">
              <source src="piano_sans_friction" type="video/mov" />
            </video>
          </div>
        </div>
      </div>

      <!-- Section 5 -->
      <div class="section">
        <div class="o-wrapper">
          <h2>{{ section5.title }}</h2>
          <p>{{ section5.desc1 }}</p>
          <div class="u-flex-v-center">
            <h4>{{ section5.subtitle1 }} : </h4>
            <audio class="-hidden" id="avec_poids" controls>
              <source src="audios/avec_poids.wav" type="audio/wav" />
            </audio>
            <button class="o-play-btn" v-on:click="playAudio('avec_poids')">
              <img class="o-play-btn_img" src="img/play.svg" alt="Play Button" />
            </button>
          </div>
          <p>{{ section5.desc2 }}</p>
          <div class="u-flex-v-center">
            <h4>{{ section5.subtitle2 }} : </h4>
            <audio class="-hidden" id="sans_poids" controls>
              <source src="audios/sans_poids.wav" type="audio/wav" />
            </audio>
            <button class="o-play-btn" v-on:click="playAudio('sans_poids')">
              <img class="o-play-btn_img" src="img/play.svg" alt="Play Button" />
            </button>
          </div>
        </div>
      </div>

      <!-- Section 6 -->
      <div class="section">
        <div class="o-wrapper">
          <h2 class="c-videos_title">{{ section6.title }}</h2>
          <p class="c-videos_desc">{{ section6.desc1 }}</p>
          <p class="c-welcome_message">{{ section6.desc2 }}</p>
          <div class="u-flex-v-center">
            <h4>{{ section6.subtitle1 }} : </h4>
            <audio class="-hidden" id="ex1" controls>
              <source src="audios/ex1.wav" type="audio/wav" />
            </audio>
            <button class="o-play-btn" v-on:click="playAudio('ex1')">
              <img class="o-play-btn_img" src="img/play.svg" alt="Play Button" />
            </button>
          </div>
          <div class="u-flex-v-center">
            <h4>{{ section6.subtitle2 }} : </h4>
            <audio class="-hidden" id="ex2" controls>
              <source src="audios/ex2.wav" type="audio/wav" />
            </audio>
            <button class="o-play-btn" v-on:click="playAudio('ex2')">
              <img class="o-play-btn_img" src="img/play.svg" alt="Play Button" />
            </button>
          </div>
          <div class="u-flex-v-center">
            <h4>{{ section6.subtitle3 }} : </h4>
            <audio class="-hidden" id="ex3" controls>
              <source src="audios/ex3.wav" type="audio/wav" />
            </audio>
            <button class="o-play-btn" v-on:click="playAudio('ex3')">
              <img class="o-play-btn_img" src="img/play.svg" alt="Play Button" />
            </button>
          </div>
        </div>
      </div>

      <!-- Section 7 -->
      <div class="section">
        <div class="o-wrapper">
          <h2 class="c-videos_title">{{ section7.title }}</h2>
          <p class="o-desc">{{ section7.desc1 }}</p>
          <p class="o-desc">{{ section7.desc2 }}</p>
          <div class="c-tests_wrapper">
            <div class="c-tests_header">
              <div class="c-tests_item">
                <div class="c-tests_play">&nbsp;</div>
                <div class="c-tests_choice">OUI</div>
                <div class="c-tests_choice">NON</div>
              </div>
              <div class="c-tests_item">
                <div class="c-tests_play">&nbsp;</div>
                <div class="c-tests_choice">OUI</div>
                <div class="c-tests_choice">NON</div>
              </div>
              <div class="c-tests_item">
                <div class="c-tests_play">&nbsp;</div>
                <div class="c-tests_choice">OUI</div>
                <div class="c-tests_choice">NON</div>
              </div>
              <div class="c-tests_body">
                <div v-for="audio in section7.audios" class="c-tests_item">
                  <div class="c-tests_play">
                    <audio :id="audio.name" class="-hidden" controls>
                      <source :src="audio.file" :type="audio.type" />
                    </audio>
                    <button class="o-play-btn" v-on:click="playAudio(audio.name)">
                      <img class="o-play-btn_img" src="img/play.svg" alt="Play Button" />
                    </button>
                  </div>
                  <div class="c-tests_choice">
                    <input class="c-tests_input" :name="audio.name" type="radio" value="TRUE" v-model="audio.value" />
                  </div>
                  <div class="c-tests_choice">
                    <input class="c-tests_input" :name="audio.name" type="radio" value="FALSE" v-model="audio.value" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- Section 8 -->
      <div class="section">
        <div class="o-wrapper">
          <h2 class="o-title">{{ section8.title }}</h2>
          <p class="c-welcome_message">{{ section8.desc1 }}</p>
          <p class="c-welcome_message">{{ section8.desc2 }}</p>
          <p class="c-welcome_message">{{ section8.desc3 }}</p>
          <!-- Tests -->

          <div class="c-tests_wrapper">
            <div class="c-tests_header">
              <div class="c-tests_item">
                <div class="c-tests_play">&nbsp;</div>
                <div class="c-tests_choice">OUI</div>
                <div class="c-tests_choice">NON</div>
              </div>
              <div class="c-tests_item">
                <div class="c-tests_play">&nbsp;</div>
                <div class="c-tests_choice">OUI</div>
                <div class="c-tests_choice">NON</div>
              </div>
              <div class="c-tests_item">
                <div class="c-tests_play">&nbsp;</div>
                <div class="c-tests_choice">OUI</div>
                <div class="c-tests_choice">NON</div>
              </div>
            </div>
            <div class="c-tests_body">
              <div v-for="audio in section8.audios" class="c-tests_item">
                <div class="c-tests_play">
                  <audio :id="audio.name" class="-hidden" controls>
                    <source :src="audio.file" :type="audio.type" />
                  </audio>
                  <button class="o-play-btn" v-on:click="playAudio(audio.name)">
                    <img class="o-play-btn_img" src="img/play.svg" alt="Play Button" />
                  </button>
                </div>
                <div class="c-tests_choice">
                  <input class="c-tests_input" :name="audio.name" type="radio" value="TRUE" v-model="audio.value" />
                </div>
                <div class="c-tests_choice">
                  <input class="c-tests_input" :name="audio.name" type="radio" value="FALSE" v-model="audio.value" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Section 9 -->
      <div class="section">
        <div class="o-wrapper">
          <h2 class="o-title">{{ section9.title }}</h2>
          <p class="c-welcome_message">{{ section9.desc1 }}</p>
          <p class="c-welcome_message">{{ section9.desc2 }}</p>
          <p class="c-welcome_message">{{ section9.desc3 }}</p>
          <div class="c-tests_wrapper">
            <div class="c-tests_header">
              <div class="c-tests_item">
                <div class="c-tests_play">&nbsp;</div>
                <div class="c-tests_choice">OUI</div>
                <div class="c-tests_choice">NON</div>
              </div>
              <div class="c-tests_item">
                <div class="c-tests_play">&nbsp;</div>
                <div class="c-tests_choice">OUI</div>
                <div class="c-tests_choice">NON</div>
              </div>
              <div class="c-tests_item">
                <div class="c-tests_play">&nbsp;</div>
                <div class="c-tests_choice">OUI</div>
                <div class="c-tests_choice">NON</div>
              </div>
            </div>
            <div class="c-tests_body">
              <div v-for="audio in section9.audios" class="c-tests_item">
                <div class="c-tests_play">
                  <audio :id="audio.name" class="-hidden" controls>
                    <source :src="audio.file" :type="audio.type" />
                  </audio>
                  <button class="o-play-btn" v-on:click="playAudio(audio.name)">
                    <img class="o-play-btn_img" src="img/play.svg" alt="Play Button" />
                  </button>
                </div>
                <div class="c-tests_choice">
                  <input class="c-tests_input" :name="audio.name" type="radio" value="TRUE" v-model="audio.value" />
                </div>
                <div class="c-tests_choice">
                  <input class="c-tests_input" :name="audio.name" type="radio" value="FALSE" v-model="audio.value" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Section 10 -->
      <div class="section">
        <div class="o-wrapper">
          <h2 class="o-title">{{ section10.title }}</h2>
          <p class="c-welcome_message">{{ section10.desc1 }}</p>
          <p class="c-welcome_message">{{ section10.desc2 }}</p>
          <p class="c-welcome_message">{{ section10.desc3 }}</p>
          <div class="c-tests_wrapper">
            <div class="c-tests_header">
              <div class="c-tests_item">
                <div class="c-tests_play">&nbsp;</div>
                <div class="c-tests_choice">OUI</div>
                <div class="c-tests_choice">NON</div>
              </div>
              <div class="c-tests_item">
                <div class="c-tests_play">&nbsp;</div>
                <div class="c-tests_choice">OUI</div>
                <div class="c-tests_choice">NON</div>
              </div>
              <div class="c-tests_item">
                <div class="c-tests_play">&nbsp;</div>
                <div class="c-tests_choice">OUI</div>
                <div class="c-tests_choice">NON</div>
              </div>
            </div>
            <div class="c-tests_body">
              <div v-for="audio in section10.audios" class="c-tests_item">
                <div class="c-tests_play">
                  <audio :id="audio.name" class="-hidden" controls>
                    <source :src="audio.file" :type="audio.type" />
                  </audio>
                  <button class="o-play-btn" v-on:click="playAudio(audio.name)">
                    <img class="o-play-btn_img" src="img/play.svg" alt="Play Button" />
                  </button>
                </div>
                <div class="c-tests_choice">
                  <input class="c-tests_input" :name="audio.name" type="radio" value="TRUE" v-model="audio.value" />
                </div>
                <div class="c-tests_choice">
                  <input class="c-tests_input" :name="audio.name" type="radio" value="FALSE" v-model="audio.value" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Section 11 -->
      <div class="section">
        <div class="o-wrapper">
          <h2>{{ section11.title }}</h2>
          <p>{{ section11.desc }}</p>
          <input class="o-input" name="email" type="email" v-model="section11.email" />
        </div>
      </div>

      <!-- Section 12 -->
      <div class="section">
        <div class="o-wrapper">
          <h2>{{ section12.title }}</h2>
          <p>{{ section12.desc }}</p>
          <button class="o-button" @click="onSubmitResultsHandler">Soumettre les résultats</button>
        </div>
      </div>

    </div>
  </div>
</body>

</html>